# To Download all libraries please run in your terminal: pip install -r requirements.txt
transformers==4.33.1
sentencepiece==0.1.99
sacremoses==0.0.53
SpeechRecognition==3.10.0
PyAudio==0.2.14
"fastapi[all]"==0.104.1
uvicorn==0.24.0.post1